.textContainer {
  width: 60%;
}

.container {
  width: 90%;
}

.formContainer {
  width: 30%;
}

.gridWrapper {
  display: grid;
}

.flexWrapper {
  display: flex;
  flex-direction: column;
}

.flexItem {
  margin: auto
}

