.textContainer {
  padding: 25px;
  width: 60%;
}

.container {
  padding: 25px;
  width: 90%;
}

.formContainer {
  width: 30%;
}

.gridWrapper {
  display: grid;
}

.flexWrapper {
  display: flex;
}

